fastapi
uvicorn[standard]
gunicorn
requests
pandas
tensorflow[and-cuda]
numpy
matplotlib
ipykernel
pybullet
qibullet
gputil
numpngw
psycopg2-binary
python-multipart
passlib
jinja2
tqdm
gym
gymnasium[classic-control]
scipy
PyVirtualDisplay
imageio[ffmpeg]
